html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

table.centered-table-text tr th,
table.centered-table-text tr td {
	text-align: center !important;
}

.clock {
	background-color: lightgray !important;
}

.clock.running {
	background-color: white !important;
}

.clock .separator {
	text-align: center;
	width: 0.5em;
	display: inline-block;
}

.clock.even .separator {
	color: lightgray;
}

.clock.odd .separator {
	color: darkgray;
}

